annotated-doc @ file:///C:/miniconda3/conda-bld/annotated-doc_1763372676565/work
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745107938/work
anyio @ file:///C:/miniconda3/conda-bld/anyio_1758622431960/work
asttokens @ file:///C:/b/abs_9662ywy9fp/croot/asttokens_1743630464377/work
certifi @ file:///C:/Users/task_176765914684981/croot/certifi_1767659268506/work/certifi
click @ file:///C:/miniconda3/conda-bld/click_1764332384168/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1699472650914/work
comm @ file:///C:/miniconda3/conda-bld/comm_1763119289758/work
debugpy @ file:///C:/miniconda3/conda-bld/debugpy_1762421659047/work
decorator @ file:///C:/miniconda3/conda-bld/decorator_1757341251593/work
dnspython @ file:///C:/miniconda3/conda-bld/dnspython_1763718289844/work
email-validator @ file:///C:/miniconda3/conda-bld/email-validator-meta_1758610319242/work
executing @ file:///C:/miniconda3/conda-bld/executing_1757061247746/work
fastapi @ file:///C:/Users/task_176840102473687/croot/fastapi-split_1768401180976/work
fastapi-cli @ file:///C:/Users/task_176837316969738/croot/fastapi-cli_1768373493967/work
h11 @ file:///C:/miniconda3/conda-bld/h11_1761931280755/work
httpcore @ file:///C:/b/abs_25m7_xthp6/croot/httpcore_1748526065845/work
httptools @ file:///C:/miniconda3/conda-bld/httptools_1763634914840/work
httpx @ file:///C:/miniconda3/conda-bld/httpx_1760447370855/work
idna @ file:///C:/miniconda3/conda-bld/idna_1761912000545/work
ipykernel @ file:///C:/miniconda3/conda-bld/ipykernel_1762946093253/work
ipython @ file:///C:/miniconda3/conda-bld/ipython_1762789324552/work
ipython_pygments_lexers @ file:///C:/b/abs_b66hj1lo19/croot/ipython_pygments_lexers_1744753262043/work
jedi @ file:///C:/b/abs_3a2kbnlclc/croot/jedi_1733987412687/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/Users/task_176786740206630/croot/joblib_1767868144069/work
jupyter_client @ file:///C:/Users/task_176839881855479/croot/jupyter_client_1768399067345/work
jupyter_core @ file:///C:/miniconda3/conda-bld/jupyter_core_1764588340612/work
markdown-it-py @ file:///C:/Users/task_176700171192930/croot/markdown-it-py_1767001832061/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib-inline @ file:///C:/miniconda3/conda-bld/matplotlib-inline_1762779270163/work
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552280927/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592917950/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593166070/work
nest-asyncio @ file:///C:/b/abs_65d6lblmoi/croot/nest-asyncio_1708532721305/work
numpy @ file:///C:/Users/task_176837630381390/croot/numpy_and_numpy_base_1768376429289/work/dist/numpy-2.4.1-cp312-cp312-win_amd64.whl#sha256=9a80f0c895a0fcf801f5c9070b9776279af1b701432e03180b7181eaa6b52677
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049137378/work
parso @ file:///C:/miniconda3/conda-bld/parso_1762781973155/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356625676/work
prompt_toolkit @ file:///C:/miniconda3/conda-bld/prompt-toolkit_1761745042157/work
psutil @ file:///C:/miniconda3/conda-bld/psutil_1761896535983/work
pure_eval @ file:///C:/miniconda3/conda-bld/pure_eval_1757067062212/work
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083587254/work
pydantic-extra-types @ file:///C:/Users/task_176830767046676/croot/pydantic-extra-types_1768308497900/work
pydantic-settings @ file:///C:/miniconda3/conda-bld/pydantic-settings_1764165212715/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009796752/work
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431426600/work
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
python-dotenv @ file:///C:/Users/task_176855924193588/croot/python-dotenv_1768559758127/work
python-multipart @ file:///C:/b/abs_fdyhk6taah/croot/python-multipart_1743518699596/work
pywin32 @ file:///C:/b/abs_6c9w_vp9zi/croot/pywin32_1754670534373/work
PyYAML @ file:///C:/miniconda3/conda-bld/pyyaml_1763465556755/work
pyzmq @ file:///C:/miniconda3/conda-bld/pyzmq_1762375609374/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375504689/work
rich-toolkit @ file:///C:/Users/task_176830857297727/croot/rich-toolkit_1768308686631/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/miniconda3/conda-bld/scipy_1762194966620/work/dist/scipy-1.16.3-cp312-cp312-win_amd64.whl#sha256=70cdefacf51774d888f17da3a8230fdf07ffd1b5b39ffa0b247ff8d69e8529f6
setuptools==80.10.1
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912225695/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sniffio @ file:///C:/miniconda3/conda-bld/sniffio_1764329208029/work
stack_data @ file:///C:/miniconda3/conda-bld/stack_data_1757067057854/work
starlette @ file:///C:/miniconda3/conda-bld/starlette-recipe_1756910704923/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361791480/work
tornado @ file:///C:/Users/task_176599264648662/croot/tornado_1765992760941/work
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614186985/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
uvicorn @ file:///C:/Users/task_176822583725404/croot/uvicorn-split_1768226497154/work
watchfiles @ file:///C:/Users/task_176798469931610/croot/watchfiles_1767984812367/work
wcwidth @ file:///C:/Users/task_176777900306880/croot/wcwidth_1767779219428/work
websockets @ file:///C:/b/abs_5a70jm9s4j/croot/websockets_1751974439266/work
wheel==0.46.3
